version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: sensor_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: sensor_db
      POSTGRES_USER: monitoring_user
      POSTGRES_PASSWORD: pq6R1zwimYrcoZfhpLpC5qGK2tgF0vsFN9Hv8VQBHvN9XRftY1
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sensor_user -d sensor_db"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
    driver: local
